
/***
 * LOGO
*************************************/
#logo_id {
    position:absolute;
    top : 0px;
    left:0px;
    width:60px;
     height:auto;
     margin-left:0px;
}
/** small **/
@media (min-width : 576px) {
    #logo_id {
     top : 10px;
    left:10px;
       width: 90px;
     margin-left:35px;
      

    }
}
/** medium**/
@media (min-width : 768px) {
    #logo_id {
    
    }
      
}
/** large**/
@media (min-width : 992px) {
    #logo_id {
     
    }      
}
/** XL **/
@media (min-width : 1200px) {
    #logo_id {
      
       
    }
} 

#login_div {

}
@media (min-width : 576px) { 
    #login_div{
    }

} 
@media (min-width : 768px) { 
    #login_div{
        width:50%;
    }
}
@media (min-width : 991px) {
    #login_div{
        width:50%;
    }
}
@media (min-width : 1200px) {
    #login_div {
        width:50%;
    }
}
#info_noalyss {
    position:fixed;
    bottom:15px;
    width:100%;
    display:block ;
    text-align:center;
}

.input_text {
    width:100%;
}
#recover_link {
    position:absolute;
    margin-bottom:30px;
}

#recover_box {
    display: none;
    position: absolute;
    top: 15%;
    z-index: 1;
    border: 2px solid darkblue;
    margin-left: 1%;
    background-color: whitesmoke;
    padding : 15px;
}