body {
	font-size:10pt;
        font-family:sans-serif;
        margin-left: 5mm;
        margin-right: 5mm;
	}
input, select ,.input_text{
	font-size:10pt;
        border:1px solid #FFFFFF;
 }
form {
  display:none;
 }
.print {
	font-size:10pt;
	display: block;
        visibility: visible;
	}
.noprint  {
  display:none !important;
 }
 #module {
  display:none !important;
     
 }
.button, .smallbutton,.icon{
	display:none;
	}
div.recherche_form {
	display:none;
	}
table.result {
	font-size:10pt;
	font-family:sans-serif;
	width:100%
  }

table.result th {
	font-size:10pt;
	font-family:sans-serif;
}
h3,h4 {
	font-size:12pt;
	text-decoration: underline;
	font-family:sans-serif;
}

h2 {
	font-size:12pt;
	font-weight:bold;
	font-family:sans-serif;
}
div.info {
	display:none;
}
.content  {
	font-size:10pt;
}
h1.content,h1,h2.info,legend {
	font-size:12pt;
	font-weight:bold;
	font-family:sans-serif;
}
h3.info {
	display:none;
}

h2.info2 {
	display:none;
}


h2.error {
	display:none;
}

h1.title {
	display:none;
}
div.mtitle {
	display:none;

}

div.tmenu {
	display:none;
}
div.u_tmenu {

	display:none;
}
div.lmenu {
	display:none;
}
div.lextmenu {
	display:none;
}
div.searchmenu {
	display:none;
}
div.credit{
	display:none;
}
div.debit{
	display:none;
}
div.recherche{
	font-size:10pt;
	font-family:sans-serif;
}
div.redcontent{
	font-size:10pt;
	font-family:sans-serif;

}
div.redcontent{
	font-size:10pt;
	font-family:sans-serif;
}
div.ccontent{
	font-size:10pt;
	font-family:sans-serif;
}
div.rmenu {
	display:none;
}

table.mtitle {
	display:	none;
}
td.mshort {
	display:none;
}
td.mlltitle {
	display:none;
}
td.mltitle {
	display:none;
}
td.mtitle {
	display:none;
}
span.mtitle2 {
	display:none;
}
span.mtitle {
	display:none;
}
span.odd {
	display:none;
 }
span.even {
	display:none;
 }

tr.odd {
	font-size:10pt;
	font-family:sans-serif;
}
tr {
	font-size:10pt;
	font-family:sans-serif;
	}
tr.even {

	font-size:10pt;
	font-family:sans-serif;
}
td.odd{
	font-size:10pt;
	font-family:sans-serif;
}
td.even{
	font-size:10pt;
	font-family:sans-serif;
}
td.cell{
	display:none;
}
td.selectedcell{
	display:none;
}

a.mtitle {
	display:none;
}

a.mtitle:hover {
	display:none;
}
a.cell {
	display:none;
}

a.cell:hover {
	display:none;
	}

a.mtitle2 {
	display:none;
	}

a.mtitle2:hover {
	display:none;
	}

a.one:link {
	display:none;
}
a.one:visited {
	display:none;
	}
a.one:active {
	display:none;
	}

a.one:hover {
	display:none;
	}

a.two:link {
	display:none;
}
a.two:visited {
	display:none;
	}
a.two:active {
	display:none;
	}

a.two:hover {
	display:none;
	}

th.doc {
	display:none;
}


table.doc {
	display:none;
}
a.detail
{
font-size:10pt;
font-family:sans-serif;
}

a.detail:hover
{
	display:none;
}
.popup_border_title {
	display:none;
}
.ipop_card_fond {
		display:none;
}
.num {
	text-align:right;
	font-size:10pt;
}
h1.title {
	font-size:12pt;
	font-style: italic;
}
h2.title {
	font-size:12pt;
	font-style: italic;
	margin-left: 3em;
}
h3.title {
	font-size:12pt;
	margin-left: 3em;
}
h4.title {
	color: blue;
	font-size:12pt;
	margin-left: 10pt;
	text-decoration: underline;
}
h5.title {
	color: blue;
	font-size:11pt;
	margin-left: 10pt;
	text-decoration: none;
	font-style: italic;
}
/* </style> */
div.myfieldset
{
	margin-top: 20pt;
	margin-left:20pt;
	margin-right: 20pt;
	border:lightgrey 0.5pt groove;
}
#info_div ,div#error_div ,div#close_div{
	display:none;
}
p#breakhere {page-break-before: always}

.field_follow_up
{
    font-size:9pt;
    margin-top:10pt;

}
.tinybutton {
    display:none;
}
/*
 * Style for the Inplace Edit element
 */
span.inplace_edit
{
    text-decoration: none;
}
span.inplace_edit_input
{
    text-decoration: none;
}
.inum {
    text-align: right;
}

.concerned_action {display:block;}